ul {
    background-color: rgb(2, 2, 22);
    display: flex;

}

ul li {
    padding: 15px;


}

li a {
    color: white;
    text-decoration: none;
    font-size: 24px;

}

a::before {
    content: "";
}

a::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: white;
    transition: width 0.3s;
}

a:hover::after {
    width: 100%;
}